<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Automation Test"
       parallel="tests"
       thread-count="1">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="Cucumber UI Automation Test">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>